# .gitignore
*.exe
*.out
*.test
*.log
*.bin
*.o
*.a
*.so
*.ko
*.cmd
*.tar
*.gz
*.d
*.old
*.bak
*.orig
*.swp
*.tmp
*.tar.gz
*.tgz
*.tar.xz
*.xz
*.tar.bz2
*.tbz
*.tbz2
*.bz2
*.zip
*.rar
*.7z
*.obj
*.swp
*.swo
*.bak
*.core
*.tmp.*
*.dir
__pycache__/
*.pyc
*.pyo
*.rej
*.patch
*.diff
*.htm
*.html
*.bmp
*.gif
*.ico
*.jpg
*.jpeg
*.png
*.rgb
*.svg
*.tiff
*.tif
*.yuv
*.xcf
*.xcf.gz
*.xcf.bz2
*.gz.*
*.bz2.*
*.lzma.*
*.pdf
*.ps
*.eps
*.idx
*.lof
*.log
*.lot
*.lox
*.out
*.toc
*.aux
*.bbl
*.blg
*.dvi
*.glo
*.glx
*.ilg
*.ind
*.ist
*.maf
*.mtc
*.mtc1
*.nav
*.snm
*.synctex.gz
*.vrb
*.xdv
*.lo
*.la
*.gmo
*.bak
*~
*.bak
*.swp
*.bck
*.tmp
*.temp
*.DS_Store
*.iml
.idea/
*.backup
*.back
